volumes:
  postgres-data:
  kestra-data:

networks:
  kestra-network:
    driver: bridge

services:
  postgres:
    image: postgres:18
    volumes:
      - postgres-data:/var/lib/postgresql/18/docker
    environment:
      POSTGRES_DB: ${POSTGRES_DB?"You must set POSTGRES_DB in the environment"}
      POSTGRES_USER: ${POSTGRES_USER?"You must set POSTGRES_USER in the environment"}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD?"You must set POSTGRES_PASSWORD in the environment"}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 12
    networks:
     - kestra-network

  kestra:
    image: kestra/kestra:latest
    pull_policy: always
    user: "root"
    command: server standalone
    volumes:
      - kestra-data:/app/storage
      - /var/run/docker.sock:/var/run/docker.sock
      - /tmp/kestra-wd:/tmp/kestra-wd
    environment:
      SECRET_GIT_USERNAME: ${GIT_USERNAME}
      SECRET_GIT_TOKEN: ${GIT_TOKEN}
      SECRET_WEBHOOK_KEY: ${WEBHOOK_KEY}
      KESTRA_CONFIGURATION: |
        datasources:
          postgres:
            url: jdbc:postgresql://postgres:5432/${POSTGRES_DB}
            driverClassName: org.postgresql.Driver
            username: ${POSTGRES_USER}
            password: ${POSTGRES_PASSWORD}
        kestra:
          repository:
            type: postgres
          storage:
            type: local
            local:
              basePath: "/app/storage"
          queue:
            type: postgres
          tasks:
            tmpDir:
              path: /tmp/kestra-wd/tmp
          # This is just the public URL; doesn't affect bind.
          url: ${KESTRA_URL:-http://localhost:8080/}
    ports:
      - "8080:8080"   # UI/API
      - "8081:8081"   # health/management
    healthcheck:
      # Kestra exposes Micronaut health on 8081
      test: ["CMD-SHELL", "wget -qO- http://localhost:8081/health | grep -q '\"status\":\"UP\"'"]
      interval: 10s
      timeout: 5s
      retries: 30
      start_period: 20s
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - kestra-network

  ngrok:
    image: ngrok/ngrok:alpine
    command: http kestra:8080
    environment:
      NGROK_AUTHTOKEN: ${NGROK_AUTHTOKEN}
    ports:
      - "4040:4040"   # Web UI
    depends_on:
      kestra:
        condition: service_healthy
    networks:
    - kestra-network
