# roles/ha_technitium/templates/docker-compose.yml.j2

services:
  technitium:
    image: {{ ha_dns_technitium_image }}
    container_name: ha-technitium
    hostname: ha-technitium
    restart: unless-stopped
    network_mode: host

    environment:
      # Basic identity
      DNS_SERVER_DOMAIN: "{{ ha_dns_server_domain }}"

      # Admin password for web UI
      DNS_SERVER_ADMIN_PASSWORD: "{{ ha_dns_admin_password }}"

      # Web console ports
      DNS_SERVER_WEB_SERVICE_HTTP_PORT: "{{ ha_dns_web_http_port }}"
      DNS_SERVER_WEB_SERVICE_HTTPS_PORT: "{{ ha_dns_web_https_port }}"
      DNS_SERVER_WEB_SERVICE_ENABLE_HTTPS: "true"

      # Forwarders
      DNS_SERVER_FORWARDERS: "{{ ha_dns_forwarders }}"

      # Optional nice-to-haves
      DNS_SERVER_ENABLE_BLOCKING: "true"
      DNS_SERVER_LOG_USING_LOCAL_TIME: "true"

    volumes:
      # Technitium expects /etc/dns as config dir
      - "{{ ha_dns_root }}/technitium:/etc/dns"
    depends_on:
      - keepalived

  keepalived:
    image: {{ ha_dns_keepalived_image }}
    container_name: ha-dns-keepalived
    restart: unless-stopped
    network_mode: host
    cap_add:
      - NET_ADMIN
      - NET_BROADCAST
      - NET_RAW
    environment:
      TZ: "America/Indiana/Indianapolis"
      KEEPALIVED_CUSTOM_CONFIG: "true"
    volumes:
      - "{{ ha_dns_root }}/keepalived/keepalived.conf:/etc/keepalived/keepalived.conf:ro"
      - "{{ ha_dns_root }}/keepalived/check_dns.sh:/usr/local/bin/check_dns.sh:ro"