[defaults]
interpreter_python = auto_silent
inventory = ./inventory.yaml
host_key_checking = false
roles_path = roles
collections_paths = ~/.ansible/collections:/opt/homebrew/Cellar/ansible/12.2.0/libexec/lib/python3.13/site-packages/ansible_collections
vars_plugins_enabled = host_group_vars,community.sops.sops